/* 리셋 CSS */

/* Box sizing을 보정합니다. */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 목록 스타일을 재설정합니다. */
ul,
ol {
  list-style: none;
}

/* 웹 문서에서 텍스트가 너무 작아지는 것을 방지합니다. */
body {
  font-size: 1.6rem;
}

/* 링크 스타일을 재설정합니다. */
a {
  text-decoration: none;
}
