body {
  background-color: var(--main-color);
  margin-top: 15vh;
  padding-bottom: 60px;
}

.login-logo {
  display: block;
  width: 184px;
  height: 184px;
  margin: 0 auto;
}

.login-container {
  background-color: #fff;
  width: 308px;
  margin: 7vh auto;
  height: 344px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
}

.login-form h4 {
  font-size: var(--font-main);
  margin-top: 20px;
}

.login-form input {
  width: calc(100% - 4px);
  display: block;
  height: 28px;
  border: none;
}

#userId {
  border-bottom: 1px solid #132f2d;
}

.div-password {
  display: flex;
  margin-top: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #132f2d;
}

.div-password img {
  cursor: pointer;
}
.info {
  font-size: var(--font-content);
  color: #808080;
}
#message {
  height: 20px;
  color: #ff2626;
  font-size: var(--font-content);
  text-align: left;
}

button {
  font-size: var(--font-content);
  width: 100%;
  height: 28px;
  cursor: pointer;
  margin-top: 20px;
}

button[type='submit'] {
  background-color: #132f2d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login-option {
  display: flex;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: var(--font-content);
  color: #808080;
  justify-content: space-between;
  align-items: center;
}

.login-option div:first-child {
  display: flex;
  align-items: center;
}
.login-option label {
  cursor: pointer;
}

.login-option input {
  cursor: pointer;
}

.login-finding a:first-child {
  border-right: 1px solid #808080;
  padding-right: 3px;
}
button[type='button'] {
  color: #132f2d;
  background-color: #fff;
  border-radius: 5px;
}
