* {
  box-sizing: border-box;
}
body {
  background-color: var(--main-color);
  width: 390px;

  position: relative;
}

header {
  width: auto;
  height: 80px;
  text-align: center;
}
/* 마이페이지 제목 텍스트 */
.my-page-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
}
.profile-pic {
  display: flex;
  justify-content: center;
}
/* 프로필 사진 */
.profile-pic img {
  border-radius: 50%;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: lightgray;
}
/* 유저 닉네임 */
.UserName {
  text-align: center;
  padding: 30px;
  font-size: 30px;
}
.btn-primary {
  background-color: #132f2d; /* 원하는 색상으로 변경 */
  color: #ffffff;
  border: 1px solid #132f2d;
  width: 40%; /* 버튼 너비 설정 */
  height: 40px; /* 버튼 높이 설정 */
}

.btn-primary:hover {
  background-color: #132f2d;

  border: 1px solid #132f2d;
}
/* 가로 선 */
.line-wrap {
  padding: 20px;
}
.line {
  width: 100%; /* 가로로 너비를 다 차지하도록 설정 */
  height: 1px; /* 라인의 높이를 1px로 설정 */
  background-color: white; /* 원하는 배경색 지정 */
  margin: 0 auto;
}
.bookmark {
  margin-bottom: 20px;
}

.bookmark-btn {
  width: 95%; /* 너비를 더 넓은 값으로 조정 */
  max-width: 350px; /* 최대 너비를 350px로 설정하여 너비가 너무 커지지 않도록 제한 */
  background-color: white; /* 배경색을 포레스트 그린으로 변경 */
  color: black; /* 텍스트 색상을 흰색으로 변경 */
  cursor: pointer; /* 커서를 포인터로 변경 */
}

.btn-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bookmark p {
  display: flex;
  justify-content: center;
}

.bookmark-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*  즐겨찾기 리스트 */
/* 즐겨찾기 지도 색상 */
.text-warp section {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid gray;
  margin: 10px;
}

.container {
  text-align: left;
}

.card {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 350px;
  height: 140px;
  background-color: white;
  border-radius: 15px;
  border: 0.5px solid black;
  align-content: center;
}

h2 {
  font-size: var(--font-main);
  margin: 10px;
  white-space: nowrap; /* 줄 바꿈 금지 */
  overflow: hidden; /* 넘치는 부분을 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분을 ... 으로 표시 */
}

h3 {
  font-size: var(--font-large);
  margin: 10px;
  font-weight: 500px;
}

.click-icon {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.mark-up {
  margin-right: 10px;
}

img.favorite,
img.map {
  width: 20px;
  height: 20px;
}

.text-warp .first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  padding-bottom: 40px;
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  box-shadow: none !important;
  background-color: #132f2d !important;
  border-color: #132f2d !important;
}
/* 즐겨찾기 리스트를 오른쪽으로 정렬 */
.bookmark-list {
  text-align: right;
}

/* 부트스트랩의 collapse 요소가 왼쪽으로 이동하는 현상을 없애는 CSS */
.collapse {
  display: block;
}

/* 추가적인 커스텀 스타일링이 필요한 경우 여기에 추가 */
/* 부트스트랩의 collapse 요소가 왼쪽으로 이동하는 현상을 없애는 CSS */
/* 즐겨찾기 버튼 오른쪽에 화살표 추가 */
/* 새 비밀번호 입력란과 새 비밀번호 확인 입력란의 스타일 */
.modal-body input[type='password'] {
  width: 100%;
}

/* 포커스 상태일 때 테두리 스타일 지정 */
.modal-body input[type='password']:focus {
  outline: none;
  border-color: #000000; /* 포커스 시 테두리 색상을 검정색으로 변경 */
}

/* 기존의 인풋창 테두리 스타일 유지 */
.modal-body input[type='password'] {
  border-color: initial; /* 기존의 테두리 색상 유지 */
}
.bookmark-btn:focus,
.bookmark-btn:hover,
.bookmark-btn:active,
.bookmark-btn.active {
  background-color: #ffffff !important; /* 배경색을 흰색으로 변경 */
  color: #000000 !important; /* 글자 색상을 검정색으로 변경 */
}
/* 프로필 사진 위 +버튼 */
/* 프로필 사진 컨테이너 */
.profile-pic-container {
  position: relative;
}

/* 플러스 버튼 */
.add-button {
  position: absolute;
  top: 20px;
  right: 140px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #132f2d;
  border: 1px solid #132f2d;
  color: white;
  border-radius: 50%;
  font-size: 16px;
  line-height: 20px; /* 버튼 높이와 동일하게 조정 */
  text-align: center;
  cursor: pointer;
}
/* 인풋창 간격 두기 */
.modal-body input {
  margin-bottom: 10px;
}

#unmatchMsg {
  display: none;
  color: red;
}
