body {
  background-color: var(--main-color);
  margin-top: 15vh;
}

.join-logo {
  display: block;
  width: 184px;
  height: 184px;
  margin: 0 auto;
}

.join-id {
  padding-left: 5%;
  padding-right: 5%;
}
.first-step-img {
  display: block;
  width: 308px;
  margin: auto;
  margin-top: 5vh;
}

.join-form {
  background-color: #fff;
  width: 308px;
  margin: auto;
  margin-top: 25px;
  height: 252px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
}

.join-form h4 {
  font-size: var(--font-main);
}

.div-id {
  display: flex;
  margin-top: 38px;
  margin-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.div-pw {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.join-form input {
  display: block;
  width: 100%;
  height: 28px;
  border: none;
}

.success {
  border-bottom: 1px solid #132f2d;
}

.err {
  border-bottom: 1px solid #ff2626;
}

.err-message {
  height: 10px;
  color: #ff2626;
  font-size: var(--font-content);
  text-align: left;
}

.next {
  background-color: #132f2d;
  color: #fff;
  border-radius: 5px;
  font-size: var(--font-content);
  width: 100%;
  height: 28px;
  margin-top: 60px;
}

.join-pw {
  display: none;
}

.join-agree {
  display: none;
}

.agree-text {
  color: #808080;
  font-size: var(--font-content);
  text-align: left;
}

.agree-form input {
  display: inline;
}
